body {
  background-color: rgb(8, 8, 8);
  color: rgb(219, 219, 219);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.center-outside {
  text-align: center;
  width: 100%;
}

.center-div {
  display: inline-block;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

.header-outer, .header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  margin-left: 0px;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}

.footer-outer, .footer {
	position: absolute;
	bottom: 0;
	left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
	width: 100%;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}
.top-logo {
	margin: 0 auto 12px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered-horizontal {
  position: fixed;
  text-align: center;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  } to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.languageSelection {
  height: 50px;
  margin: 10px;
  cursor: pointer;
  background: linear-gradient(to left, rgb(47, 43, 89), rgb(53, 46, 119));
  border-width: 0px;
  border-radius: 6px;
  font-size: 1em;
  color: white;
  display: inline-block;
}
.languageSelection:hover {
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}
.code {
  background-color: rgb(176, 176, 176);
  border-radius: 4px;
}
code {
  font-size:16px;
  line-height: 1.4;
}
code .BUILTIN {
  color: rgb(22, 96, 120);
}
code .PUNCTUATION {
  color: rgb(149, 40, 168);
}
code .ENCLOSE {
  color: rgb(222, 92, 51);
}
code .NUMBER {
  color: rgb(159, 10, 10);
}
code .DEFAULT {
  color: rgb(0, 0, 0);
}
code .STRING {
  color: rgb(24, 168, 0);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

pre {
  max-height: 40vh;
}
h3, h4 {
  font-style: normal;
  font-weight: normal;
}
fieldset {
  border:2px solid rgb(68, 80, 77);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}
textarea.ignoreCSS {
  font-family: inherit;
  color: white;
  background-color: black;
}

textarea:not(.ignoreCSS) {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  max-height: 40vh;
  font-family: inherit;
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 8px 13px;
}
textarea.contentInCSS {
  background-color: rgb(47, 47, 47);
  border-radius: 0px;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
}
textarea.contentInCSS:focus {
  outline: none;
}
/*
.contentInCSS {
  width: 500px;
  height: 300px;
  padding: 10px;
  background-color: #444;
  color: white;
  font-size: 14px;
  font-family: monospace;
}
.statement {
  color: orange;
}
*/

button {
  outline: none;
}

textarea:not(.ignoreCSS)::-webkit-outer-spin-button,
textarea:not(.ignoreCSS)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea:not(.ignoreCSS):focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}
textarea:not(.ignoreCSS):hover {
  background-color:#c4ccd9 ;
  border: 3px solid #979ea4 ;
  -webkit-transition: 0.5s;
}
input[type=text] {
  margin-bottom: 8px;
  margin-right: 8px;
  display: block;
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 8px 13px;
  width: 500;
  font-size:14px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

input[type=submit] {
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

input[type=number] {
  margin-bottom: 8px;
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  -webkit-transition: 0.5s;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  border-radius: 4px;
  padding: 12px 20px;
  color: black;
  background-color: #414141;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(175, 178, 232);
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:not(.sectionTextArea-AlignToRight):not(.dropbtn):not(.menubutton):not(.noButtonCss), .new_page_ref, .formatLikeButton {
  margin-right: 5px;
  margin-top: 10;
  background-color:#414141;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
  display: block;
}
button:not(.sectionTextArea-AlignToRight):not(.noButtonCss):hover, .formatLikeButton:hover {
  background-color: rgb(175, 178, 232);
}

input[type=button] {
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

input[type=password] {
  background-color:#414141;
  border: 2px solid #414141;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  color: white;
  -webkit-transition: 0.5s;
}

input[type=text]:focus {
  border: 3px solid #909090;
  color: white;
  -webkit-transition: 0.5s;
}
input[type=text]::placeholder {
  color: white;
}
input[type=text]:hover {
  background-color:#535559 ;
  border: 3px solid #979ea4 ;
  -webkit-transition: 0.5s;
}

input[type=password]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=submit]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=number]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input:focus {
  outline: none;
}

.dropbtn {
  background-color: #400669;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a[disabled=true] {
  color: gray;
}

.sidenav a {
  cursor: pointer;
}

.dropdown-content a:not([disabled=true]):hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; z-index: 1000;}

.dropdown:hover .dropbtn {background-color: #400669;}

section a {
  color: rgb(139, 98, 240);
}

section a h1, h2, h3, h4, p {
  margin-top: 6px;
  margin-bottom: 2px;
}

.signup-block input {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.signup-block p {
  display: block;
}

.big {
  font-size: 1.17em;
}

.medium {
  font-size: 1em;
}

.max-z-index {
  z-index: 10000;
}

.menubutton {
  margin-top: 10;
  padding: 4px;
  padding-right: 6px;
  padding-left: 6px;
  background: #500e7d;
  color: white;
}

h2.listLegend {
  text-align: center;
  display: table;
  width: 100%;
}
h2.listLegend > span, h2.listLegend:before, h2.listLegend:after {
  display: table-cell;
}
h2.listLegend:before, h2.listLegend:after {
  background: url(https://dummyimage.com/2x1/fff/fff&text=+) repeat-x center;
  width: 50%;
  content: ' ';
}
h2.listLegend > span {
  white-space: nowrap;
  padding: 0 9px;
}

.menu {
  width: 120px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  transition: 0.2s display ease-in;
}
.menu .menu-options {
  list-style: none;
  padding: 10px 0;
  z-index: 1;
}
.menu .menu-options .menu-option {
  font-weight: 500;
  z-index: 1;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.menu .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}
button .next {
  color: green;
}
button[disabled="false"]:hover .next {
  color: red;
  animation: move 0.5s;
  animation-iteration-count: 2;
}

@keyframes move {
  from {
    transform: translate(0%);
  }
  50% {
    transform: translate(-40%);
  }
  to {
    transform: transform(0%);
  }
}
.new_page_ref {
  color: white;
  text-decoration: none;
  margin-top: 5px;
  background-color: rgb(83, 135, 62);
}
.prettyForm {
  border: 2px solid black;
  background-color: rgb(102, 102, 102);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.25em;
  box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.33);
}
hr.line {
  height: 2px;
  background-color: rgb(179, 179, 179);
  border: none;
}

.sectionTextArea-Outer {
  position: relative;
}

.sectionTextArea-AlignToRight {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 5;
  margin-right: 16;
}

.sectionTextArea-AlignToRight.isButton {
  border: none;
  background-color: rgb(30, 119, 19);
  padding: 4px;
  border-radius: 50%;
  font-size: 1em;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

.sectionTextArea-AlignToRight.isButton:hover {
  background-color: rgb(33, 145, 20);
  color: rgb(156, 156, 156);
  -webkit-transition: 0.5s;
}

.sectionTextArea-textArea {
  margin-top: 1.2em;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #444444;
  color: white;
  position: absolute;
  padding: 1px 5px 2px 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  border-radius: 4px;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

.notTable {
  border-collapse: collapse;
  width: 98vw;
}
.notTable tbody {
  width: 100px;
}
.notificationRow .notificationIcon {
  height: 35px;
}
.notificationRow a {
  color: rgb(154, 210, 156);
}
.notificationRow td, th {
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}
.notTable tr {
  background-color: rgb(38, 38, 38);
}
.notTable tr:nth-child(2n+2) {
  background-color: rgb(19, 19, 19);
}
.notTable tr:nth-child(2n+2) {
  background-color: rgb(23, 23, 23);
}
.notTable hr {
  width: 100%;
}
.notificationDiv .notificationText {
}
.updateRequestPopup {
  width: 100%;
  display: block;
  height: 20vh;
  outline: none;
  padding: 10px;
  font-size: 0.8em;
  resize: vertical;
  border: none;
  border-radius: 5px;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inline-block-children * {
  display: inline-block;
}

.rateButton {
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #8d721b;
  margin: auto;
  position: relative;
}